body {
  padding-bottom: 20px;
  font-size: 1.6em;
}

ul.nav li a {
  padding: 8px 15px;
  margin: 7px 5px;
}

.jumbotron {
  margin-top: 2em;
}

.jumbotron img { 
  margin-left: 30px;
}


#affix-nav {
  text-align: right;
}

#affix-nav > ul.affix {
    position: fixed; 
    top: 20px;
    width: 260px;
}

#affix-nav > ul.affix-top {
    position: static;
}

#affix-nav > ul.affix-bottom {
    position: absolute;
}

#affix-nav li.active > a {
  font-weight: bold;
}

#affix-nav > ul ul a {
  font-size: 0.85em;
  margin-top: 0;
  padding-top: 0;
}

#affix-nav > ul li:not(.active) ul {
  display: none;
}

.page-header:not(:first-child) {
  margin-top: 7em;
}

hr {
  margin: 2.5em 0;
}

.table.fields .binary td:nth-child(4n) {
  border-right: solid 1px rgb(200,200,200);
}

.table.fields .binary td:nth-child(8n), .table.fields .hex td, .table.fields .field-names td {
  border-right: solid 2px rgb(150,150,150);
}

.table.fields .binary td:first-child, .table.fields .hex td:first-child, .table.fields .field-names td:first-child {
  border-left: solid 2px rgb(150,150,150);
}

.table.fields .binary td {
  min-width: 13px;
}

.table.fields td {
  padding: 0.5em 0;
  text-align: center;
}

footer {
  text-align: center;
}

.lead {
  font-size: 1.05em;
  border-left: 5px solid rgb(200,200,200);
  padding: 5px 10px;
}

kbd {
  white-space: nowrap
}